.ask-navbar-avatar {
  object-fit: contain;
  height: 3em;
}

.navbar {
  height: 4em;
}

.ask-avatar-thumb {
  width: 100%;
  object-fit: contain;
  max-height: 6em;
}

.ask-avatar-settings {
  object-fit: contain;
  max-height: 8em;
}

.nav-link {
  color: #4a4a4a;
}

.nav-link:hover {
  color: #000;
}

.ask-navbar-search {
  width: 10em;
}

.ask-list-inactive-header {
  font-size: 1.5em;
}

.ask-question-title {
  font-size: 1.3em;
}

.ask-block-header {
  font-size: 2em;
}

.ask-popular-tag {
  padding-right: 2em;
}

.ask-best-member-link {
  font-size: 1.2em;
}

.ask-question .ask-question-title {
  font-size: 2em;
}

.ask-question .ask-avatar-thumb {
  max-height: 9em;
}

.ask-left-col-name {
  font-size: 0.75em;
  word-break: break-all;
}

.footer-text {
  font-size: 0.6em;
}

.trunc-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
