{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row mb-2 pl-3">
  <p class="ask-block-header align-self-baseline mr-3">{{ title }}</p>
  <a class="ask-list-inactive-header nav-link align-self-baseline" href="{% url switch_url %}" >{{ switch_title }}</a>
</div>

{% for question, like_sign in questions %}
{% include 'inc/question_preview.html' %}
{% endfor %}
{% include 'inc/pager.html' with object=pages %}
<script src="{% static 'js/question.js' %}"></script>
{% endblock content %}
