{% load static %}

<div class="text-center mt-1">
  {% if profile.avatar %}
    <img class="ask-avatar-thumb " src="{{ MEDIA_URL }}{{ profile.avatar.url }}"/>
  {% else %}
    <img class="ask-avatar-thumb " src="{% static 'img/avatar_placeholder.png' %}"/>
  {% endif %}
  <div class="row justify-content-center pt-1">
  <span class="ask-left-col-name trunc-text">{{ profile.nickname }}</span>
  </div>
  <div class="row justify-content-center">
    <button class="btn ask-btn-vote">
      <img src="{% static 'svg/arrow_up.svg' %}">
    </button>
  <span class="ask-votes-count">{{ votes }}</span>
  <button class="btn ask-btn-vote">
    <img src="{% static 'svg/arrow_down.svg' %}">
  </button>
</div>
</div>
