{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light px-5">
  <a class="navbar-brand" href="{% url 'index' %}">AskMe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-inline-flex mr-auto">
      <li class="nav-item my-2 mr-3">
        <form class="form-inline">
          <input class="ask-navbar-search form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary ml-1" type="submit">Search</button>
        </form>
      </li>
      <li class="nav-item active mr-3 my-2">
        <form action="#">
          <input class = "btn btn-success" type="submit" value="Ask!" />
        </form>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item my-2 mr-2">
        <img src="{% static 'img/avatar_placeholder.png' %}" alt="Avatar" class="rounded ask-navbar-avatar"/>
      </li>
      <li class="nav-item">
      <div class="col">
      <div class="row">
        <div class="nav-item ask-navbar-username ml-2">Guest</div>
      </div>
      <div class="row">
        <a class="nav-link mr-2" href="#">Settings</a>
        <a class="nav-link" href="#">Log out</a>
      </div>
      </div>
      </li>

    </ul>
  </div>
</nav>
