{% load static %}

<div class="container-fluid border rounded mb-4 py-1 px-4">
  <div class="row">
    <div class="col-md-2">
      {% include 'inc/left_col.html' with votes=question.rating profile=question.author %}
    </div>
    <div class="col-md-10">
      <a class="mt-0 mb-1 ask-question-title" href="{% url 'question' question.id %}">{{ question.title }}</a>
      <p class="text-justify pr-2 mt-1 mb-1">{{ question.text|truncatechars:300 }}</p>
      <div class="row">
        <a class="col-md-3 mb-2" href="{% url 'question' question.id %}#answer">Answer ({{ question.answer_set.count }})</a>
        <div class="col-md-9">
          {% include 'inc/question_tags.html' with tags=question.tags.all %}
        </div>
      </div>
    </div>
  </div>
</div>
